<div class="control-group">
  <input class="name-field" name="name" type="text" placeholder="{{labels.roles.name}}" value="{{model.name}}" />
  <span class="help-inline"></span>
</div>
<div class="btn-group">
  <button type="submit" class="btn btn-success" title="{{labels.general.save}}"><i class="icon-edit icon-white"></i></button>
  <button type="button" class="btn btn-danger delete" title="{{labels.general.delete}}"><i class="icon-trash icon-white"></i></button>
  <button type="button" class="btn cancel" title="{{labels.general.cancel}}"><i class="icon-chevron-up"></i></button>
</div>