<div class="control-group">
  <input class="name-field" name="name" type="text" placeholder="{{labels.groups.name}}" value="{{model.name}}" />
  <span class="help-inline"></span>
</div>

<div class="group-roles-list block"></div>
<div class="add-role block">
	<input class="role-name-list" name="role-name" type="text" placeholder="{{labels.groups.roles.name}}"  />
	<input class="btn add-role-btn" name="name" type="button" value="{{labels.groups.roles.add}}"  />
</div>
<div class="group-groups-list block"></div>
<div class="add-group block">
	<input class="group-name-list" name="role-name" type="text" placeholder="{{labels.groups.groups.name}}"  />
	<input class="btn add-group-btn" name="name" type="button" value="{{labels.groups.groups.add}}"  />
</div>


<div class="btn-group">
  <button type="submit" class="btn btn-success" title="{{labels.general.save}}"><i class="icon-edit icon-white"></i></button>
  <button type="button" class="btn btn-danger delete" title="{{labels.general.delete}}"><i class="icon-trash icon-white"></i></button>
  <button type="button" class="btn cancel" title="{{labels.general.cancel}}"><i class="icon-chevron-up"></i></button>
</div>